<hr>
<footer>
    <div class="footer-left">
        <div>&copy; All India Ltd</div>
        <div class="f-info-links">
            <a href="/privacy">| Privacy </a>
            <a href="/contact-us">| Contact-us </a>
            <a href="/about-us">| About-us |</a>
            <a href=""></a>
        </div>
    </div>
    <div class="f-social">
        <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-square-instagram fa-xl"></i></a>
        <a href="https://www.facebook.com/"target="_blank"><i class="fa-brands fa-square-facebook fa-xl"></i></i></a>
        <a href="https://x.com/"target="_blank"><i class="fa-brands fa-square-x-twitter fa-xl" style="color: black;"></i></a>
    </div>
</footer>